
.App {
	text-align: center;
	background-color: rgb(12, 2, 2);
	justify-content: justify;
	width: auto;
	height: auto;
	display: block;
  }
  
  #filmlist {
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	background-color: rgb(241, 240, 240);
	vertical-align: middle;
	
  }
  
  